*{
    font-family: 'Montserrat';
}
.header{
    display: flex;
    background-color: blue;
    justify-content: center;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin: 15px;
}


.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px;

}

.nav-menu{
    padding: 10px;
}
.left-sidebar .nav-menu li{
    background-color: blue;
    width: 80px;
    list-style-type: none;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
  
}

.left-sidebar .nav-menu li a{
    color: white;
    text-decoration: underline;     
    text-align: center;
    font-weight: bolder;
}

.right-sidebar{
    display: inline-block;
    background-color: orangered;
    border-radius: 15px;
    width: 250px;
}

.text{
    margin-top: 25px;
    display: inline-block;
    width: 800px;
}

.right-sidebar p, h3{
    margin: 15px;
}

.footer{
    display: flex;
    background-color: chartreuse;
    border-radius: 15px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 150px;
}







